body {
    background-color: black;
    font-family: 'Philosopher', sans-serif;
 
}

p {
    font-size: 1.4em; 
}

.contenedor {
    height: 31.25rem;
    width: 43.75rem;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    margin-right: 6.25rem;
    margin-left: 6.25rem;
    padding: 1.25rem; 
    background-color: white;
}

header {
    height: 6.25rem;
    width: 42.5rem;
    padding: 0.93rem;  
    background-color: white;
}

.titulo {
    height: 5.625rem; 
    width: 31.25rem;
    float: left;
    background-color: white;
}

.logo {
    height: 3.75rem; 
    width: 9.375rem;
    padding: 0.93rem; 
    float: right;
    background: url(https://assets.breatheco.de/apis/img/icon/4geeks.png) no-repeat center;
    background-size: contain; 
}

section {
    height: 15.625rem;
    width: 42.5rem;
    padding: 15px;  
    background-color: white;
}

article {
    height: 15.625rem; 
    width: 50%;
    float: left;
    background-color: white;
}

form {
    margin-top: 1.25rem;
    height: 50%; 
    width: 20rem;
    float: right;
    background-color: white;
}

.buttonLayout {
    margin-top: 7rem;
    margin-left: -24rem;
    height: 3.438rem;
    width: 45rem;
    background-color: white;
}

input {
    font-size: 1.4em;
    font-family: 'Philosopher', sans-serif;
    border: none; 
    border-bottom: 2px solid grey;
    padding: 0.438rem;
}

i {
    color: #148fcb;

} 

button {
    margin-left: 16.25rem;
    position: center; 
    font-family: 'Philosopher', sans-serif;
    font-size: 1.4em;
    border-bottom: 3px solid grey;
}

